<a href="https://colab.research.google.com/github/WahomeKezia/AI_and-_ML-Work/blob/main/Data_Munging_Kezia_Wahome.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Setting up the data set file

In [34]:
#importing my libraries
import pandas as pd
import io

I have uploaded the data set to google drive to enable fast uploading

In [35]:
#Enabling google colab drive access
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [30]:
#navigating to my dataset 
import os

# Navigate to the root directory
os.chdir('/content/drive/MyDrive/')

In [31]:
#reading from the data to conform if I can access it correctly
#data.head() this will print the raw data set

Loading my dataset to a panda dataframe

In [74]:
data_path = '/content/drive/MyDrive/Arrest_Data_from_2010_to_Present.csv'
data = pd.read_csv(data_path)
print(data.head())

   Report ID Arrest Date    Time  Area ID  Area Name  Reporting District  \
0    4248313  02/24/2015  1310.0     20.0    Olympic              2022.0
1  191811472  05/03/2019  1700.0     18.0  Southeast              1802.0
2    4254777  02/26/2015  2010.0     19.0    Mission              1985.0
3    5614161  04/29/2019  1040.0      8.0    West LA               842.0
4    5615197  04/30/2019   615.0      6.0  Hollywood               663.0

    Age Sex Code Descent Code  Charge Group Code Charge Group Description  \
0  37.0        M            H                5.0                 Burglary
1  23.0        F            B                NaN                      NaN
2  22.0        M            H                6.0                  Larceny
3  41.0        M            H                3.0                  Robbery
4  27.0        M            O                5.0                 Burglary

  Arrest Type Code     Charge Charge Description  \
0                F      459PC           BURGLARY
1                M  653.22 PC                NaN
2                M    459.5PC        SHOPLIFTING
3                F      211PC            ROBBERY
4                F      459PC           BURGLARY

                                    Address Cross Street              Location
0                                       5TH       WILTON   (34.0653, -118.314)
1                                      91ST     FIGUEROA  (33.9543, -118.2827)
2   8300    VAN NUYS                     BL          NaN  (34.2216, -118.4488)
3  11600    WILSHIRE                     BL          NaN  (34.0508, -118.4592)
4                                   LA BREA    LEXINGTON  (34.0907, -118.3384)

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [33]:

# Generate summary statistics for dataframe
data.describe()

,Time,Area ID,Reporting District,Age,Charge Group Code
count,1.227322e+06,1.227517e+06,1.227517e+06,1.227517e+06,1.139951e+06
mean,1.390331e+03,1.022282e+01,1.068804e+03,3.423583e+01,1.625491e+01
std,6.614772e+02,6.205251e+00,6.190267e+02,1.369657e+01,7.025462e+00
min,0.000000e+00,1.000000e+00,1.000000e+02,0.000000e+00,1.000000e+00
25%,9.500000e+02,5.000000e+00,5.250000e+02,2.300000e+01,1.100000e+01
50%,1.515000e+03,1.100000e+01,1.113000e+03,3.200000e+01,1.700000e+01
75%,1.930000e+03,1.500000e+01,1.546000e+03,4.500000e+01,2.300000e+01
max,2.400000e+03,2.100000e+01,2.199000e+03,9.700000e+01,9.900000e+01

#Data Analysis and cleaning my dataset

In [50]:
#cleaning my dataset
data.dropna(inplace=True)

# #Filling the empty spaces with
# data['Column1'] = data['Column1'].fillna(value=0)

In [51]:
# remove duplicates based on a subset of columns
data =data.drop_duplicates()

#  Question One

In [52]:
# Filter the data for 2018 and count the number of bookings
arrests_2018 = data[data['Arrest Date'].str.contains('2018')].shape[0]
print(f"Number of bookings of arrestees made in 2018: {arrests_2018}")

Number of bookings of arrestees made in 2018: 18440

#Question 2

In [71]:
# Filter the data for 2018
arrests_2018 = data[data['Arrest Date'].str.contains('2018')]

# Exclude the 'Pre-Delinquency' and 'Non-Criminal Detention' charge groups
arrests_2018 = arrests_2018[~arrests_2018['Charge Group Description'].isin(['Pre-Delinquency', 'Non-Criminal Detention'])]

# Exclude any arrests where the charge group description is not known
arrests_2018 = arrests_2018[arrests_2018['Charge Group Description'].notna()]

# Group the data by 'Area Name' and count the number of bookings made in each area
bookings_by_area = arrests_2018.groupby('Area Name').size().reset_index(name='Number of Bookings')

# Find the area with the most arrests in 2018
area_with_most_arrests = bookings_by_area.sort_values('Number of Bookings', ascending=False).iloc[0]['Area Name']

# Print the results
print("Bookings of arrestees made in each area in 2018:\n", bookings_by_area)
print("\nThe area with the most arrests in 2018 was:", area_with_most_arrests)

Bookings of arrestees made in each area in 2018:
       Area Name  Number of Bookings
0   77th Street                 778
1       Central                3978
2    Devonshire                 293
3      Foothill                 361
4        Harbor                 616
5    Hollenbeck                 330
6     Hollywood                1950
7       Mission                 593
8   N Hollywood                 645
9        Newton                1080
10    Northeast                 755
11      Olympic                 802
12      Pacific                1237
13      Rampart                 929
14    Southeast                 375
15    Southwest                 802
16      Topanga                 409
17     Van Nuys                 779
18      West LA                 974
19  West Valley                 467
20     Wilshire                 259

The area with the most arrests in 2018 was: Central

#Question 3

In [62]:
# Filter the data for 2018 and remove minors and unknown charge groups
filtered_df = data[(data['Arrest Date'].str.contains('2018')) &
                        (~data['Charge Group Description'].isin(['Pre-Delinquency', 'Non-Criminal Detention'])) &
                        (data['Charge Group Description'].notna())]

# Group by Charge Group Description and calculate the average age of arrestees
avg_age_by_charge_group = filtered_df.groupby('Charge Group Description')['Age'].mean()

print("Average age of arrestees per each charge group in 2018:")
print(avg_age_by_charge_group)

Average age of arrestees per each charge group in 2018:
Charge Group Description
Against Family/Child              32.578947
Aggravated Assault                33.536866
Burglary                          29.152941
Disorderly Conduct                42.209902
Disturbing the Peace              41.500000
Driving Under Influence           34.552426
Drunkeness                        45.088521
Federal Offenses                  33.000000
Forgery/Counterfeit               34.666667
Fraud/Embezzlement                35.138889
Gambling                          42.413793
Homicide                          33.928571
Larceny                           32.860262
Liquor Laws                       43.946211
Miscellaneous Other Violations    39.368338
Moving Traffic Violations         33.101990
Narcotic Drug Laws                36.690933
Other Assaults                    32.428934
Prostitution/Allied               30.953859
Rape                              45.875000
Receive Stolen Property           33.514286
Robbery                           27.061350
Sex (except rape/prst)            35.124294
Vehicle Theft                     30.064877
Weapon (carry/poss)               29.576060
Name: Age, dtype: float64

#Question 4

In [69]:
''' this a solution using where I was trying to us Pandas to manipulate and filter the data
the code prints out nan , and has a bug  '''

# # Filter data for 2018 and specified charge groups
# # data_2018 = data[data['Arrest Date'] == 2018]
# data_charge_groups = data_2018[data_2018['Charge Group Description'].isin(charge_groups)]

# # Filter out minors and unknown charge groups
# data_charge_groups = data_charge_groups[(data_charge_groups['Charge Group Description'] != 'Pre-Delinquency') & 
#                                         (data_charge_groups['Charge Group Description'] != 'Non-Criminal Detention') &
#                                         (data_charge_groups['Charge Group Description'].notna())]

# # Remove rows with missing values in the 'Age' column
# data_charge_groups = data_charge_groups[data_charge_groups['Age'].notna()]

# # Calculate 95th percentile of Age column
# age_95th_percentile = data_charge_groups['Age'].quantile(0.95)

# # Print result
# print(f"The 95th percentile of the age of the arrestee for the specified charge groups in 2018 is: {age_95th_percentile}")

''' This solution  uses boolean masking with conditional statements to achieve the required solution
this solution prints out the desired output'''

# Filter the data for 2018 and select the required charge groups
filtered_df = data[(data['Arrest Date'].str.contains('2018')) &
                        (data['Charge Group Description'].isin(['Vehicle Theft', 'Robbery', 'Burglary', 'Receive Stolen Property']))]

# Calculate the 95% quantile of age
quantile_95 = filtered_df['Age'].quantile(0.95)

print(f"The 95% quantile of the age of the arrestee in 2018 is {quantile_95}")

The 95% quantile of the age of the arrestee in 2018 is 49.14999999999998

#Question 5

In [80]:
from sklearn.linear_model import LinearRegression
import pandas as pd

# Convert Arrest Date column to datetime format
data['Arrest Date'] = pd.to_datetime(data['Arrest Date'])

# Filter the data for the years 2010 to 2018
data_2010_2018 = data[(data['Arrest Date'].dt.year >= 2010) & (data['Arrest Date'].dt.year <= 2018)]

# Group the data by year and count the number of arrests for each year
arrests_by_year = data_2010_2018.groupby(data_2010_2018['Arrest Date'].dt.year).size()

# Reshape the data for use in the linear regression model
X = arrests_by_year.index.values.reshape(-1, 1)
y = arrests_by_year.values.reshape(-1, 1)

# Fit a linear regression model to the data
model = LinearRegression()
model.fit(X, y)

# Use the model to predict the number of arrests in 2019
arrests_2019 = model.predict([[2019]])[0][0]

# Round the predicted number of arrests to the nearest integer
arrests_2019_rounded = int(round(arrests_2019))

# Print the result
print(f"Predicted number of crime arrests in 2019: {arrests_2019_rounded}")

Predicted number of crime arrests in 2019: 67723

#Question 6

In [92]:
# Filter the data for 2018 and drop missing location values
data_2018 = data[data['Arrest Date'].dt.year == 2018]
data_2018 = data_2018[(data_2018['Location'] != '(0, 0)')]

# Split the Location column into separate Latitude and Longitude columns
data_2018[['Latitude', 'Longitude']] = data_2018['Location'].str.split(', ', expand=True)
data_2018['Latitude'] = data_2018['Latitude'].str.replace('(', '').astype(float)
data_2018['Longitude'] = data_2018['Longitude'].str.replace(')', '').astype(float)

# Define the coordinates of the Bradbury Building
bradbury_coords = (34.050536, -118.247861)

# Define the radius of the Earth in km
R = 6371.0

# Compute the distance between each arrest location and the Bradbury Building
d_lat = np.radians(data_2018['Latitude']) - np.radians(bradbury_coords[0])
d_lon = np.radians(data_2018['Longitude']) - np.radians(bradbury_coords[1])
a = np.sin(d_lat/2)**2 + np.cos(np.radians(bradbury_coords[0])) * np.cos(np.radians(data_2018['Latitude'])) * np.sin(d_lon/2)**2
c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1-a))
distances = R * c

# Count the number of arrests within 2 km of the Bradbury Building
num_arrests = len(distances[distances <= 2.0])

# Print the result
print(f"Number of arrest incidents within 2 km of the Bradbury Building in 2018: {num_arrests}")

Number of arrest incidents within 2 km of the Bradbury Building in 2018: 5913

<ipython-input-92-e60ed89823ff>:7: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data_2018['Latitude'] = data_2018['Latitude'].str.replace('(', '').astype(float)
<ipython-input-92-e60ed89823ff>:8: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data_2018['Longitude'] = data_2018['Longitude'].str.replace(')', '').astype(float)